<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static "css/gameStyle.css" %}">
    <meta charset="UTF-8">
    <title>Ant Farm</title>
</head>
<body>
<div>
    <header>
        <div class="model">
            <div class="model-window">
                <h1>Какой-то текст с приколами</h1>

                 <button class="btn-close">x</button>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="content" id="header">
            <nav>
                <div class="links">
                    <div class="link" id="selected"><a href="#">Играть</a></div>
                    <div class="link"><a href="#">Друзья</a></div>
                    <div class="link"><a href="#">Новости</a></div>
                </div>
            </nav>
            <div class="user-info">
                <div class="user-money">$ {{ user.1 }}</div>
                <div class="user-image">
                    <img src="{% static user.0 %}" alt="User image">
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="in-row">
            <div class="box" id="boss">
                <img src="{% static boss_img %}" alt="Boss image">
                <button type="button">СРАЖАТЬСЯ</button>
            </div>
            <div class="box" id="leaderboard">
                <h1>ЛУЧШИЕ ИГРОКИ</h1>
                <div class="scroll-table" id="scroll-leader">
                    <table class="leaderboard">
                        <tr class="place">
                            <td class="place-item">№</td>
                            <td class="place-item">Муравьи</td>
                            <td class="place-item">Имя игрока</td>
                        </tr>
                        {% for place in leaderboard %}
                        <tr class="place">
                            <td class="place-item">{{ place.0 }}</td>
                            <td class="place-item">{{ place.1 }}</td>
                            <td class="place-item">{{ place.2 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="box" id="ants">
            <h1>ТВОИ МУРАВЬИ</h1>
            <div class="ant-holder">
                {% for ant in ants %}
                <div class="ant-card">
                    <img src="{% static ant.0 %}" alt="Ant image">
                    <span>x{{ ant.1 }}</span>
                    <button type="button">$ {{ ant.2 }}</button>
                </div>
                {% endfor %}
            </div>
            <div class="ant-bottom">
                <span>Всего: {{ total_ants }}</span>
                <button type="button">Отправить всех</button>
            </div>
        </div>
        <div class="box" id="items">
            <h1>ТВОИ ПРЕДМЕТЫ</h1>
            <div class="scroll-table">
                <table class="item-holder">
                    <tbody>
                    {% for item in items %}
                    <tr class="item-card">
                        <td><img src="{% static item.0 %}" alt="Item image"></td>
                        <td><span>{{ item.1 }}</span></td>
                        <td><button type="button">$ {{ item.2 }}</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button">ПРОДАТЬ ВСЁ</button>
        </div>
        <div class="box" id="chest">
            <h1>СУНДУК</h1>
            <div class="chest">
                <div class="left">
                    <img src="{% static chest.0 %}" alt="Chest image">
                </div>
                <div class="right">
                    <button type="button">ОТКРЫТЬ</button>
                    <button type="button">$ {{ chest.1 }}</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <span>Муравьиная ферма</span>
        <a href="#">Как играть?</a>
        <div class="icons">
            <img src="{% static "images/testImage.svg" %}" alt="icon 1">
            <img src="{% static "images/testImage.svg" %}" alt="icon 2">
            <img src="{% static "images/testImage.svg" %}" alt="icon 3">
        </div>
    </footer>
</div>
</body>
</html>