<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../static/css/gameStyle.css">
    <meta charset="UTF-8">
    <title>Ant Farm</title>
</head>
<body>
<header>
    <nav>
        <div class="links">
            <div class="link"><a href="#">Играть</a></div>
            <div class="link"><a href="#">Друзья</a></div>
            <div class="link"><a href="#">Новости</a></div>
        </div>
    </nav>
    <div class="user-info">
        <span>$ 19885</span>
        <img src="#" alt="User image">
    </div>
</header>
<div class="box">
    <img src="#" alt="Boss image">
    <button type="button">СРАЖАТЬСЯ</button>
</div>
<div class="box">
    <h1>ЛУЧШИЕ ИГРОКИ</h1>
    <div class="leaderboard">
        <div class="place">
            <span class="place-item" id="number">1</span>
            <span class="place-item" id="ants">1239123</span>
            <span class="place-item" id="name">User228</span>
        </div>
    </div>
</div>
<div class="box">
    <h1>ТВОИ МУРАВЬИ</h1>
    <div class="ant-holder">
        <div class="ant-card">
            <img src="#" alt="Ant image">
            <span>x12</span>
            <button type="button">$ 128</button>
        </div>
    </div>
    <div class="ant-bottom">
        <span>Всего: 228</span>
        <button type="button">Отправить всех</button>
    </div>
</div>
<div class="box">
    <h1>ТВОИ ПРЕДМЕТЫ</h1>
    <div class="item-holder">
        <div class="item-card">
            <img src="#" alt="Item image">
            <span>Капля мёда</span>
            <button type="button">$ 16</button>
        </div>
    </div>
    <button type="button">ПРОДАТЬ ВСЁ</button>
</div>
<div class="box">
    <h1>СУНДУК</h1>
    <div>
        <div class="left">
            <img src="#" alt="Chest image">
        </div>
        <div class="right">
            <button type="button">ОТКРЫТЬ</button>
            <button type="button">$ 228</button>
        </div>
    </div>
</div>
<footer>
    <span>Муравьиная ферма</span>
    <a href="#">Как играть</a>
    <div class="icons">
        <img src="#" alt="icon 1">
        <img src="#" alt="icon 2">
        <img src="#" alt="icon 3">
    </div>
</footer>
</body>
</html>