<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../static/css/gameStyle.css">
    <meta charset="UTF-8">
    <title>Ant Farm</title>
</head>
<body>
<div>
    <header>
        <div class="content" id="header">
            <nav>
                <div class="links">
                    <div class="link" id="selected"><a href="#">Играть</a></div>
                    <div class="link"><a href="#">Друзья</a></div>
                    <div class="link"><a href="#">Новости</a></div>
                </div>
            </nav>
            <div class="user-info">
                <div class="user-money">$ 19885</div>
                <div class="user-image">
                    <img src="../static/img/testImage.svg" alt="User image">
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="in-row">
            <div class="box" id="boss">
                <img src="../static/img/testImage.svg" alt="Boss image">
                <button type="button">СРАЖАТЬСЯ</button>
            </div>
            <div class="box" id="leaderboard">
                <h1>ЛУЧШИЕ ИГРОКИ</h1>
                <div class="scroll-table" id="scroll-leader">
                    <table class="leaderboard">
                        <tr class="place">
                            <td class="place-item">№</td>
                            <td class="place-item">Муравьи</td>
                            <td class="place-item">Имя игрока</td>
                        </tr>
                        <tr class="place">
                            <td class="place-item">1</td>
                            <td class="place-item">1239123</td>
                            <td class="place-item">User228</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="box" id="ants">
            <h1>ТВОИ МУРАВЬИ</h1>
            <div class="ant-holder">
                <div class="ant-card">
                    <img src="../static/img/testImage.svg" alt="Ant image">
                    <span>x12</span>
                    <button type="button">$ 128</button>
                </div>
            </div>
            <div class="ant-bottom">
                <span>Всего: 228</span>
                <button type="button">Отправить всех</button>
            </div>
        </div>
        <div class="box" id="items">
            <h1>ТВОИ ПРЕДМЕТЫ</h1>
            <div class="scroll-table">
                <table class="item-holder">
                    <tbody>
                    <tr class="item-card">
                        <td><img src="../static/img/testImage.svg" alt="Item image"></td>
                        <td><span>Капля мёда</span></td>
                        <td>
                            <button type="button">$ 16</button>
                        </td>
                    </tr>
                    <tr class="item-card">
                        <td><img src="../static/img/testImage.svg" alt="Item image"></td>
                        <td><span>Капля мёда</span></td>
                        <td>
                            <button type="button">$ 16</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="button">ПРОДАТЬ ВСЁ</button>
        </div>
        <div class="box" id="chest">
            <h1>СУНДУК</h1>
            <div class="chest">
                <div class="left">
                    <img src="../static/img/testImage.svg" alt="Chest image">
                </div>
                <div class="right">
                    <button type="button">ОТКРЫТЬ</button>
                    <button type="button">$ 228</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <span>Муравьиная ферма</span>
        <a href="#">Как играть?</a>
        <div class="icons">
            <img src="../static/img/testImage.svg" alt="icon 1">
            <img src="../static/img/testImage.svg" alt="icon 2">
            <img src="../static/img/testImage.svg" alt="icon 3">
        </div>
    </footer>
</div>
</body>
</html>